<h1>Editing Chuc Danh Da Quy Hoach</h1>

<%= render 'form', chuc_danh_da_quy_hoach: @chuc_danh_da_quy_hoach %>

<%= link_to 'Show', @chuc_danh_da_quy_hoach %> |
<%= link_to 'Back', chuc_danh_da_quy_hoaches_path %>
