<h1>Editing Nghe Nghiep Truoc Khi Vao Dang</h1>

<%= render 'form', nghe_nghiep_truoc_khi_vao_dang: @nghe_nghiep_truoc_khi_vao_dang %>

<%= link_to 'Show', @nghe_nghiep_truoc_khi_vao_dang %> |
<%= link_to 'Back', nghe_nghiep_truoc_khi_vao_dangs_path %>
