<h1>New Boi Duong Quy Hoach Cho Chuc Danh</h1>

<%= render 'form', boi_duong_quy_hoach_cho_chuc_danh: @boi_duong_quy_hoach_cho_chuc_danh %>

<%= link_to 'Back', boi_duong_quy_hoach_cho_chuc_danhs_path %>
