<h1>Editing Trinh Do Theo Mon Hoc</h1>

<%= render 'form', trinh_do_theo_mon_hoc: @trinh_do_theo_mon_hoc %>

<%= link_to 'Show', @trinh_do_theo_mon_hoc %> |
<%= link_to 'Back', trinh_do_theo_mon_hocs_path %>
